.App {
  text-align: center;
}

.container {
    display: flex; /* or inline-flex */
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.item {

width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto;  /* Magic! */
}
    

