.App {
  text-align: center;
}

.container {
    display: flex; /* or inline-flex */
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.item {

width: 100px;  /* Or whatever */
  height: 200px; /* Or whatever */
  margin: 1rem;  /* Magic! */
  border-style: solid;
  border-color: grey;
  cursor: pointer;		
  
}
    
.title {
    margin: 1rem;
}
